@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   15px !default;
$base-font-weight: normal !default;
$small-font-size:  $base-font-size * 1 !default;
$big-font-size:    $base-font-size * 1.3 !default;
$base-line-height: 1.5 !default;

$title-font-family: "Public Sans", "Helvetica", "Arial", serif !default;
$title-font-weight: 700 !default;

$spacing-unit:     30px !default;

$brand-color: #ff0628;
$link-color: lighten(adjust-hue($brand-color, 15deg), 10%);

$grey-color:       #F4F6F6 !default;
$grey-color-light: lighten($grey-color, 5%) !default;
$grey-color-dark:  darken($grey-color, 5%) !default;
$grey-color-darker:  darken($grey-color, 60%) !default;

$text-color: darken($grey-color, 80%);
$background-color: lighten($grey-color, 2%);

$table-text-align: left !default;

// Width of the content area
$content-width:    1140px !default;

$on-palm:          768px !default;
$on-laptop:        768px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "safari/base",
  "safari/layout",
  "safari/syntax-highlighting",
  "safari/home",
  "safari/question"
;
