#safari--cover {
  image-rendering: pixelated;
  background-image: url("../assets/images/maputo-4.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100% 80%;
  width: 100vw;
  height: 80vh;
  position: relative;
  left: calc(-50vw + 50%);
  top: -$spacing-unit * 3.5;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
  color: #FFFFFF;

  .post-title {
    text-align: center;
    @include relative-font-size(6);
    color: #FFFFFF;
    text-shadow: 0 3px $grey-color-dark;
    font-weight: 400;
    width: 100%;
    margin: 0;
  }

  h2 {
    @include relative-font-size(2);
    width: 100%;
    color: darken($brand-color, 15%);
  }
}

#safari--cover .safari--description {
  width: 1140px;
  margin: auto;
  padding: 0 60px;
  font-size: $big-font-size;
  color: $brand-color;
}

#safari--cover .safari--description blockquote {
  font-size: $big-font-size;
}

#safari--partners {
  margin-bottom: $spacing-unit * 2;
}

.home blockquote {
  margin-bottom: $spacing-unit;
}

#index {
  margin-top: $spacing-unit * 2;
}

.post-list {
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
}

.post-list > li:first-child {
  border-top: 1px solid $grey-color-dark;
}

.post-list > li {
  display: flex;
  padding: $spacing-unit / 1.5 0;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  margin-bottom: 0;
  border-bottom: 1px solid $grey-color-dark;
  @include media-query($on-palm) {
    padding: $spacing-unit / 2 0;
    display: block;
  }
  @include relative-font-size(1.1);
}

.post-list > li > * {
  width: 50%;
  margin-bottom: 0;
  @include media-query($on-palm) {
   width: 100%;
  }
}

.post-list > li::after {
  content: "⟶";
}
