.question__visualization {
  grid-column: 1 / 5;
  background: $background-color;
  border-top: 1px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-dark;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
}

.post-content > blockquote {
  @include relative-font-size(2);
  color: $brand-color;
}

.minified li {
  @include relative-font-size(0.9);
  padding: $spacing-unit / 4 0;
}

.minified li > *, .minified a {
}

.footnotes {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 4;
}

.footnotes *, .footnotes p {
  @include relative-font-size(0.9);
}
