---
layout: default
---

<div id="datasets" class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="methodology--content">{{ content }}</div>

  <div id="index">
    {%- if site.questions.size > 0 -%}
      <ul class="data-list">
        {%- for question in site.questions -%}
        <li>
          <p>
            {{ question.data-description }}
          </p>
          <h4>
            <a class="data-link" href="{{ question.url | relative_url }}">{{ question.title }}</a>
          </h4>
          <p>
            <a class="data-link" href="{{ question.data | relative_url }}">
              {{ question.data | escape }}
            </a>
          </p>
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
