---
layout: default
---

<div id="methodology" class="outputs">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="methodology--content">{{ content }}</div>
</div>

<div id="news" class="post-content e-content">
  <aside class="post-meta">
    <h4>Timeline</h4>
    <ul class="post-list">
      {%- for news in page.events -%}
        <li class="{{ news.type | escape }}" style="text-transform: capitalize">{{ news.title | truncatewords:4 | escape }}</li>
      {%- endfor -%}
    </ul>
  </aside>

  <div id="index">
    <ul class="post-list">
      {%- for news in page.events -%}
        <li class="{{ news.type | escape}}">
          <span>
            <h5 class="{{ news.type | escape }}">{{ news.type | escape }}</h5>
            <h3 id="{{ news.title | escape }}">
                {{ news.title | escape }}
            </h3>
          {%- if news.type == "event" -%}
            <p>{{ news.calendar | escape }} — {{ news.location | escape }}</p>
            {%- else -%}
              <p>{{ news.calendar | escape }}</p>
          {%- endif -%}
            <p>{{ news.desc | escape }}</p>
          </span>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
