---
layout: default
---

<div id="safari--cover">
  <div class="safari--description">

  </div>
</div>

<div id="safari--partners">
  {{ content }}
</div>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.questions.size > 0 -%}
    <ul class="post-list">
      {%- for question in site.questions -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ question.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ question.title | escape }}
          </a>
        </h3>
        <p>
          {{ question.excerpt }}
        </p>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
