---
layout: default
---

{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
  {%- if page.filter != "events" -%}
    {% assign document = site[the_collection]  %}
  {%- endif -%}
{% endif %}
{% for links in document  %}
    {% if links.title == page.title %}
        {% unless forloop.first %}
            {% assign prevurl = prev.url %}
            {% assign prevtitle = prev.nav %}
            {% assign prevname = prev.title %}
        {% endunless %}
        {% unless forloop.last %}
            {% assign next = document[forloop.index] %}
            {% assign nexturl = next.url %}
            {% assign nexttitle = next.nav %}
            {% assign nextname = next.title %}
        {% endunless %}
    {% endif %}
    {% assign prev = links %}
{% endfor %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div style="display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between;">
  {% if prevurl %}<a href="{{prevurl | relative_url }}"><span class="pagination__arrow">&larr;</span><span class="pagination__link">{{ prevname | truncatewords:6 }}</span></a>{% endif %}
  {% if nexturl %}<a href="{{nexturl | relative_url }}" class="pagination__next"><span class="pagination__link">{{ nextname | truncatewords:6 }}</span><span class="pagination__arrow">&rarr;</span></a>{% endif %}
  </div>

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  {%- if page.type == "visualization" -%}
    <main class="question__visualization">
      {% include_relative {{ page.number | prepend: "visualizations/visualization0" | append: ".html" }} %}
    </main>
  {%- endif -%}

  <div class="post-content e-content" itemprop="articleBody">
    <aside class="post-meta">
      {%- if page.sources -%}
      <h4>Resources</h4>
      <ul style="padding: 0; margin-left: 0;">
        {% for source in page.sources %}
          <li style="margin-bottom: 0.5rem; list-style: none"><a href="{{ source.link }}" target="_blank"> <p style="margin-bottom: 0">{{ source.name }}</p></a></li>
        {% endfor %}
      </ul>
      {%- endif -%}
      {%- if page.calendar -%}
      <h4>Calendar</h4>
      <p>{{ page.calendar }} - {{ page.location }}</p>
      {%- endif -%}
      <div id="table--of--content"></div>
    </aside>
    <div class="main-post-content">
      {{ content }}
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}"></a>
</article>
