---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <aside class="post-meta">
      <h4>Authors</h4>
      <p>{{ page.authors }}</p>
      <h4>Department</h4>
      <p>{{ page.department }}</p>
      <h4>Data</h4>
      <p><a href="{{ page.data | absolute_url }}">{{ page.data-description }}</p>
    </aside>
    <div class="main-post-content">
      {{ content }}
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{%- if site.questions.size > 1 -%}
  <div id="index" class="minified">
    <h3>Other insights:</h3>
    <ul class="post-list">
      {%- for question in site.questions -%}
        {%- if question.title != page.title -%}
          <li>
            <h3>
              <a class="post-link" href="{{ question.url | relative_url }}">
                {{ question.title | escape }}
              </a>
            </h3>
            <p>
              {{ question.author }}
            </p>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}
