---
layout: default
---

<div id="methodology" class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="methodology--content">{{ content }}</div>
  <div class="safari--partners">
    <h2>People</h2>
    {%- for people in site.data.people -%}
      <div>
        <p><b>{{ people.contact }}</b> ({{ people.department }})</p>
        <p><i>{{ people.role }}</i></p>
      </div>
    {%- endfor -%}
  </div>
  <div class="safari--partners">
    {%- for partner in site.data.partners -%}
      <div class="safari--logos">
        <img src="{{ partner.logo | relative_url }}" alt="{{ partner.name }}">
      </div>
    {%- endfor -%}
  </div>
</div>
